{"swagger":"2.0","info":{"description":"API to communicate with cashbook!","version":"1.0","title":"cashbook REST API","termsOfService":"http://cashbook.mallorca-software.com","contact":{"name":"cashbook","url":"http://cashbook.mallorca-software.com","email":"pascal.wild@mallorca-software.com"},"license":{"name":"NO License","url":"http://cashbook.mallorca-software.com"}},"host":"cashbook.api.mallorca-software.com","basePath":"/","tags":[{"name":"user-controller","description":"User Controller"},{"name":"cashbook-controller","description":"Cashbook Controller"},{"name":"cashbook-entry-controller","description":"Cashbook Entry Controller"}],"paths":{"/api/cashbooks":{"get":{"tags":["cashbook-controller"],"summary":"getCashbooks","operationId":"getCashbooksUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CashbookDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["cashbook-controller"],"summary":"saveCashbook","operationId":"saveCashbookUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cashbookDto","description":"cashbookDto","required":true,"schema":{"$ref":"#/definitions/CashbookDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashbookDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["cashbook-controller"],"summary":"createCashbook","operationId":"createCashbookUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createCashbookDto","description":"createCashbookDto","required":true,"schema":{"$ref":"#/definitions/CreateCashbookDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashbookDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cashbooks/{cashbookId}":{"get":{"tags":["cashbook-controller"],"summary":"getCashbook","operationId":"getCashbookUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashbookId","in":"path","description":"cashbookId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashbookDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["cashbook-controller"],"summary":"deleteCashbook","operationId":"deleteCashbookUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashbookId","in":"path","description":"cashbookId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/cashbooks/{cashbookId}/cashbookEntries":{"get":{"tags":["cashbook-entry-controller"],"summary":"getCashbookEntries","operationId":"getCashbookEntriesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashbookId","in":"path","description":"cashbookId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CashbookEntryDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["cashbook-entry-controller"],"summary":"saveCashbookEntry","operationId":"saveCashbookEntryUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"cashbookId","in":"path","description":"cashbookId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"cashbookEntryDto","description":"cashbookEntryDto","required":true,"schema":{"$ref":"#/definitions/CashbookEntryDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashbookDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cashbooks/{cashbookId}/cashbookEntries/{cashbookEntryId}":{"delete":{"tags":["cashbook-entry-controller"],"summary":"deleteCashbookEntry","operationId":"deleteCashbookEntryUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"cashbookId","in":"path","description":"cashbookId","required":true,"type":"integer","format":"int64"},{"name":"cashbookEntryId","in":"path","description":"cashbookEntryId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashbookDto"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/users":{"post":{"tags":["user-controller"],"summary":"createUser","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDto","description":"userDto","required":true,"schema":{"$ref":"#/definitions/UserDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/changePassword":{"post":{"tags":["user-controller"],"summary":"changePassword","operationId":"changePasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userChangePasswordDto","description":"userChangePasswordDto","required":true,"schema":{"$ref":"#/definitions/UserChangePasswordDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/current":{"get":{"tags":["user-controller"],"summary":"getCurrentUser","operationId":"getCurrentUserUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/passwordReset":{"post":{"tags":["user-controller"],"summary":"passwordReset","operationId":"passwordResetUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userPasswordResetDto","description":"userPasswordResetDto","required":true,"schema":{"$ref":"#/definitions/UserPasswordResetDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/passwordResetRequest":{"post":{"tags":["user-controller"],"summary":"requestPasswordReset","operationId":"requestPasswordResetUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userPasswordResetRequestDto","description":"userPasswordResetRequestDto","required":true,"schema":{"$ref":"#/definitions/UserPasswordResetRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/register":{"post":{"tags":["user-controller"],"summary":"registerUser","operationId":"registerUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDto","description":"userDto","required":true,"schema":{"$ref":"#/definitions/UserDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{username}":{"get":{"tags":["user-controller"],"summary":"findUser","operationId":"findUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"CashbookAmountDto":{"type":"object","properties":{"cashAmount":{"type":"number","format":"float"},"expenseAmount":{"type":"number","format":"float"},"revenueAmount":{"type":"number","format":"float"}}},"CashbookDto":{"type":"object","properties":{"beginAmount":{"type":"number","format":"float"},"cashbookAmount":{"$ref":"#/definitions/CashbookAmountDto"},"cashbookEntries":{"type":"array","items":{"$ref":"#/definitions/CashbookEntryDto"}},"expenseCashbookEntries":{"type":"array","items":{"$ref":"#/definitions/CashbookEntryDto"}},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"revenueCashbookEntries":{"type":"array","items":{"$ref":"#/definitions/CashbookEntryDto"}}}},"CashbookEntryDto":{"type":"object","properties":{"amount":{"type":"number","format":"float"},"cashbookEntryType":{"type":"string"},"date":{"type":"string","format":"date-time"},"description":{"type":"string"},"id":{"type":"integer","format":"int64"}}},"CreateCashbookDto":{"type":"object","properties":{"beginAmount":{"type":"number","format":"float"},"name":{"type":"string"},"parentCashbookId":{"type":"integer","format":"int64"}}},"ResponseEntity":{"type":"object","properties":{"body":{"type":"object"},"statusCode":{"type":"string","enum":["100","101","102","103","200","201","202","203","204","205","206","207","208","226","300","301","302","303","304","305","307","308","400","401","402","403","404","405","406","407","408","409","410","411","412","413","414","415","416","417","418","419","420","421","422","423","424","426","428","429","431","451","500","501","502","503","504","505","506","507","508","509","510","511"]},"statusCodeValue":{"type":"integer","format":"int32"}}},"UserChangePasswordDto":{"type":"object","properties":{"oldPassword":{"type":"string"},"password":{"type":"string"},"passwordConfirmation":{"type":"string"}}},"UserDto":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastName":{"type":"string"},"plainPassword":{"type":"string"},"plainPasswordRepeat":{"type":"string"},"username":{"type":"string"}}},"UserPasswordResetDto":{"type":"object","properties":{"password":{"type":"string"},"passwordConfirmation":{"type":"string"},"token":{"type":"string"}}},"UserPasswordResetRequestDto":{"type":"object","properties":{"usernameOrEmail":{"type":"string"}}}}}
